* {
  text-align: center;
  font-size: 24px;
}
.app {
  height: 100%vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 300px;
  width: 240px;
  background-color: rgb(60, 95, 158);
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.temperature-container {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: rgb(3, 122, 241);
  border: 2px solid #fff;
  align-self: flex-start;
  margin-top: 30px;
  color: #fff;
  line-height: 160px;
}
.btn {
  height: 60px;
  width: 60px;
  align-self: flex-end;
  margin: 20px 20px;
  border-radius: 50%;
  background-color: rgb(109, 103, 103);
  border: 2px solid #fff;
  color: #fff;
}
